section(class="py-5 event test", id="event")
    .container 
        +sectionTitle("Organize Your"," Events", false)
        div(id="carouselExampleIndicatorsEvent", class="carousel slide mt-5", data-ride="carousel")
            ol(class="carousel-indicators")
                li(data-target="#carouselExampleIndicatorsEvent", class="custom-circle", data-slide-to="0", class="active")
                li(data-target="#carouselExampleIndicatorsEvent", class="custom-circle", data-slide-to="1")
                li(data-target="#carouselExampleIndicatorsEvent",class="custom-circle", data-slide-to="2")
            div(class="carousel-inner")
                div(class="carousel-item active")
                    +carouselItem()
                div(class="carousel-item")
                    +carouselItem("event-2.jpg","Private Parties","290")
                div(class="carousel-item")
                    +carouselItem("event-3.jpg","Custom Parties","99")