- var iconArr = ["fab fa-twitter","fab fa-facebook-f","fab fa-instagram","fab fa-linkedin-in"];
footer(class="py-5 footer footer1")
    .container 
        +sectionTitle("","Delicious", true,"Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.")
        ul(class="social-list mt-4 d-flex align-items-center justify-content-center")
            each val in iconArr.length?iconArr:"Nothing here"
                +footerSocialItem(val)
        span(class="d-block text-white text-center mt-5 copy-right") © Copyright Delicious. All Rights Reserved
        div(class="text-center text-white mt-4 design-by") Designed by
            span  BootstrapMade
    .container
