section(class="py-5 gallery", id="gallery")
    .container 
        +sectionTitle("Some photos from"," Our Restaurant", true,"Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.")
        div(class="row mt-5")
            +galleryItem("gallery-1.jpg")
            +galleryItem("gallery-2.jpg")
            +galleryItem("gallery-3.jpg")
            +galleryItem("gallery-4.jpg")
            +galleryItem("gallery-5.jpg")
            +galleryItem("gallery-6.jpg")
            +galleryItem("gallery-7.jpg")
            +galleryItem("gallery-8.jpg")