section(class="py-5 bg-white menu", id="menu")
    .container 
        +sectionTitle("Check our tasty"," Menu", false)
        nav(class="menu__nav-list mt-4 mx-auto d-flex justify-content-around align-items-center flex-wrap")
            +menuNavItem(true,"Show All")
            +menuNavItem(false,"Starters")
            +menuNavItem(false,"Salads")
            +menuNavItem(false,"Specialty")
        ul(class="row menu-list pt-4")
            +menuItem()
            +menuItem("Bread barrel", "6.95","Lorem, deren, trataro, filede, nerada")
            +menuItem("Crab Cake", "7.95","A delicate crab cake served on a toasted roll with lettuce and tartar sauce")
            +menuItem("Caesar Selections","8.95","Lorem, deren, trataro, filede, nerada")
            +menuItem("Tuscan Grilled","9.95","Grilled chicken with provolone, artichoke hearts, and roasted red pesto")
            +menuItem("Mozzarella Stick","4.95","Lorem, deren, trataro, filede, nerada")
            +menuItem("Greek Salad","9.95","Fresh spinach, crisp romaine, tomatoes, and Greek olives")
            +menuItem("Spinach Salad","9.95","Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette")
            +menuItem("Lobster Roll","12.95","Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll")
