section(class="py-5 bg-white specials-menu", id="special")
    .container 
        +sectionTitle("Check our"," Specials", true, "Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.")
        .row
            div(class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3")
                div(class="list-group mt-5", id="list-tab", role="tablist")
                    +specialMenuTabList(true)
                    +specialMenuTabList(false,"unde-praesentium-sed","unde-praesentium-sed-list","unde-praesentium-sed","Unde praesentium sed")
                    +specialMenuTabList(false,"pariatur-explicabo-vel","pariatur-explicabo-vel-list","pariatur-explicabo-vel","Pariatur explicabo vel")
                    +specialMenuTabList(false,"nostrum-qui-quasi","nostrum-qui-quasi-list","nostrum-qui-quasi","Nostrum qui quasi")
                    +specialMenuTabList(false,"iusto-ut-expedita-aut","iusto-ut-expedita-aut-list","iusto-ut-expedita-aut","Iusto ut expedita aut")
            div(class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9")
                div(class="tab-content mt-5", id="nav-tabContent")
                    +specialMenuTabContent(true)
                    +specialMenuTabContent(false,"Et blanditiis nemo veritatis excepturi","Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka","Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal","unde-praesentium-sed-list","unde-praesentium-sed","specials-2.jpg")
                    +specialMenuTabContent(false,"Impedit facilis occaecati odio neque aperiam sit","Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut","Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae","pariatur-explicabo-vel-list","pariatur-explicabo-vel","specials-3.jpg")
                    +specialMenuTabContent(false,"Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore","Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus","Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore","nostrum-qui-quasi-list","nostrum-qui-quasi","specials-4.jpg")
                    +specialMenuTabContent(false,"Est eveniet ipsam sindera pad rone matrelat sando reda","Omnis blanditiis saepe eos autem qui sunt debitis porro quia.","Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel","iusto-ut-expedita-aut-list","iusto-ut-expedita-aut","specials-5.jpg")                    