section(class="why-choose bg-white py-5", id="whychoose")
    .container
        +sectionTitle("Why choose", " Our Restaurant", true, "Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.")
        div(class="row mt-4") 
            +whyChooseItem
            +whyChooseItem("02","Repellat Nihil")
            +whyChooseItem("03","Ad ad velit qui")