section.contact {
    .contact-info {
        box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.178);
        font-size: 1.4rem;
        color: $secondary-color;
        .bg-icon {
            cursor: pointer;
            &:hover {
                i {
                    color: white;
                    background-color: $primary-color;
                    transition: 0.5s;
                }
            }
        }
        i {
            font-size: 2rem;
            color: $primary-color;
            width: 4.4rem;
            height: 4.4rem;
            background-color: $primary-color-light;
            transition: 0.5s;
        }
        h2 {
            color: black;
            font-weight: bold;
            font-size: 1.8rem;
        }
    }
    .contact-form {
        box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.123);
        padding: 5rem;
    }
}