// color
$primary-color: #ffb03b;
$secondary-color: #5f5950;
$third-color: #97a6b1;
$primary-color-light: #fff6e8;
$dark-gray-color:#35322d;
// font
$primary-font:'Poppins',
sans-serif;
$secondary-font:'Satisfy',
cursive;