extends ../layouts/default-layout

block vars
	-title = 'Delicious Restaurant'
	-bodyClass = 'homepage'
	-des='Đây là template nhà hàng bootstrap'

block container
	include ../partials/introduction
	include ../partials/about
	include ../partials/whychoose
	include ../partials/menu
	include ../partials/specialmenu
	include ../partials/event
	include ../partials/booktable
	include ../partials/gallery
	include ../partials/contact

